/** @format */

.layout {
  display: flex;
  padding: 2.125rem 6.25rem 4.125rem 6.25rem;
  justify-content: center;
  align-items: center;
  background: #02021e;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7.6875rem;
}

.container img {
  width: 25rem;
  height: 25rem;
  border-radius: 1.875rem;
}

.container .featuresDescription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4.75rem;
  color: white;
}

.container .featuresDescription h2 {
  width: 25rem;
}

.container .featuresDescription header span {
  color: #6c49eb;
  font-family: Satoshi;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.container .featuresDescription main {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  width: 39.8125rem;
  align-items: flex-start;
  align-content: flex-start;
  gap: 3.375rem 2.5625rem;
  flex-wrap: wrap;
  flex: 2;
}

.container .featuresDescription main div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
}

.container .featuresDescription main div header h3 {
  color: #f9f9f9;
  font-family: Satoshi;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container .featuresDescription main div article {
  color: #e6e6e9;
  font-family: Satoshi;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 1.4rem */
}
