/** @format */

.home {
  display: flex;
  padding: 1.5rem 6.25rem 1rem 6.25rem;
  justify-content: center;
  font-family: "Satoshi Variable", sans-serif;
}
.home .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.25rem;
}

.home .container .section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home .container .section1 header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home .container .section1 header span {
  color: #6c49eb;
  font-family: inherit;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.home .container .section1 header .about {
  margin: 1.25rem 0 1.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40.135rem;
}

.home .container .section1 header .about h2 {
  color: #02021e;
  text-align: center;
  font-family: inherit;
  font-size: 2.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 4.5rem */
  letter-spacing: -0.1125rem;
}

.home .container .section1 header .about .more {
  color: var(--foundation-blue-blue-400, #35354b);
  text-align: center;
  font-family: inherit;
  font-size: 1rem;
  font-style: normal;
  width: 35rem;
  font-weight: 400;
  line-height: 160%; /* 1.6rem */
}

.home .container .section2 {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1.19rem;
  align-items: center;
  justify-items: center;
}
.home .container .section2 .frame {
  width: 24.5rem;
  height: 20.5rem;
  flex-shrink: 0;
  border-radius: 1.875rem;
  overflow: hidden;
  box-sizing: border-box;
}

.impressionsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.06rem;
}

.home .container .section2 .impressionsLayout {
  display: flex;
  padding: 1.59375rem;
  align-items: flex-start;
  gap: 4rem;
  border-radius: 1.875rem;
  width: 100%;
  background: #02021e;
  color: white;
  align-items: center;
  justify-content: center;
}

.home .container .section2 .impressionsLayout .impressions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.875rem;
}

.home .container .section2 .impressionsLayout .impressions section h3 {
  color: #fff;
  font-family: inherit;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.home .container .section2 .impressionsLayout .impressions section p {
  color: #fff;
  font-family: inherit;
  font-size: 0.675rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.home .container .section2 .eclipseLayout {
  display: flex;
  width: 22.0625rem;
  height: 9.375rem;
  padding: 2.5rem 4.4375rem 2.5rem 4.5rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 1.875rem;
  background: #6c49eb;
  position: relative;
  transition: all ease-in-out 0.5s;
}

.home .container .section2 .eclipseLayout .eclipse1 {
  position: absolute;
  left: 4rem;
  z-index: 1;
}

.home .container .section2 .eclipseLayout .eclipse2 {
  position: absolute;
  left: 7rem;
  z-index: 2;
}
.home .container .section2 .eclipseLayout .eclipse3 {
  position: absolute;
  left: 9rem;
  z-index: 3;
}
.home .container .section2 .eclipseLayout .eclipse4 {
  position: absolute;
  left: 12rem;
  z-index: 4;
}
.home .container .section2 .eclipseLayout .eclipse5 {
  position: absolute;
  left: 14rem;
}

.home .container .section2 .eclipseLayout img {
  width: 4.375rem;
  height: 4.375rem;
  flex-shrink: 0;
  border-radius: 4.375rem;
  transition: all 1.5s ease-in-out;
}

.home .container .section2 .eclipseLayout img:nth-child(1):hover {
  transform: translateX(-10px);
  transition: all 1s ease-in-out;
  z-index: 1;
}

.home .container .section2 .eclipseLayout img:nth-child(2):hover {
  transform: translateX(-20px);
  transition: all 1s ease-in-out;
  z-index: 2;
}
.home .container .section2 .eclipseLayout img:nth-child(3):hover {
  transform: translateY(-40px);
  transition: all 1s ease-in-out;
}
.home .container .section2 .eclipseLayout img:nth-child(4):hover {
  transform: translateX(5px);
  transition: all 1s ease-in-out;
  z-index: 4;
}
.home .container .section2 .eclipseLayout img:nth-child(5):hover {
  transform: translateX(20px);
  transition: all 1s ease-in-out;
  z-index: 5;
}
